<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

	<p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>
      
      <div class="footer-col footer-col-3">
        <!--<p>{{ site.description | escape }}</p>-->
		<iframe src="https://dm13450.substack.com/embed" width="300"
	height="150" style="border:1px solid ##fdfdfd; background:#fdfdfd;"
	frameborder="0" scrolling="no"></iframe>
      </div>
     
    </div>

  </div>

</footer>
