---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

 <table>
  <tr>
     <td> Maths 1 </td>
 </tr>
 <tr>
     <td> Quantum Physics and Relativity </td>
 </tr>
     <td> Dynamics </td> 
     <td> Intro to Astronomy </td>
     <td> Random Processes in Physics </td>
  </tr>
</table>


<a class="btn btn-primary" href="a" role="button">Link</a>

</div>
